/* resets */
body {
  margin: unset;
}

h1,
h2,
p {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

a {
  text-decoration: unset;
  color: unset;
}

ul {
  padding: unset;
  margin: unset;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

button {
  all: unset;
  cursor: pointer;
}

/* layouts */
.l-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/* color */
:root {
    --color-primary: #e67800;
    --color-blue: #1d4ed8;
    --color-green: #059669;
  
    --color-gray-10: #f5f5f5;
    --color-gray-30: #a3a3a3;
    --color-gray-50: #737373;
  
    --color-black-light: #262626; /* 새로나온 블랙 */
    --color-black: #222222;
    --color-white: #fff;
  }

/* Typography */
:root {
  font-family: "Noto Sans KR", sans-serif;
}

/* Components */
.main-title {
  display: flex;
  justify-content: space-between;
}

.title-menu {
  display: flex;
  align-items: center;
}

.title-login {
  align-items: center;
  font-size: 16px;
  color: var(--color-gray-50);
  font-weight: 600;
}

.title-menu-list {
  padding: 20px 16px;
  font-weight: 600;
  box-sizing: border-box;
}

.title-menu-list:first-child {
  padding: 24px;
}
